[Desktop Entry]
Comment[it_IT]=Start Steam sliently
Comment=Start Steam sliently
Exec=/usr/bin/steam -silent -steamdeck
GenericName[it_IT]=
GenericName=
Hidden=true
MimeType=
Name[it_IT]=Steam
Name=Steam
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
